<!-- <div style="padding: 30px;"> 

    <label> Server name</label>
    <input type="text" class="form-control" [(ngModel)]="serverName">
    <p> {{serverName}}</p>
    <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add server</button>
    <!-- <p [innerText]="allowNewServer"> It is Enabled</p> -->
    <!-- <p> {{serverCreationStatus}}</p>
</div> -->

<!-- Assignment 2 -->
<!-- 
<input type="text" class="form-control"[(ngModel)]= 'userName'>
<p> {{userName}}</p>
<button class="btn btn-primary"[disabled]="userName===''"(click)="onClick()">Submit </button>
<p [ngStyle]="{backgroudColor: getColor()}"> udemy course</p>
<p ngClass="saad"> saad </p> -->